$text-align: center;
$bgColor: #272729;
$h80px: 48px;
$w100: 100%;
$posrel: relative;


.App {
  text-align: $text-align;
}

.header {
  // text-align: $text-align;
  background-color: $bgColor;
  width: $w100;
  height: $h80px;
  position: fixed;
  z-index: 999;
  // @media(max-width: 699px) {
  //   height: 70px;
  // }
  // @media(max-width: 599px) {
  //   height: 60px;
  // }
  // @media(max-width: 499px) {
  //   height: 60px;
  // }
}
.header::after {
  content: '';
  display: table;
  clear: both;
}

.header-block{
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: #272729;
  // padding-left: 100px;
  // padding-right: 100px;
}